<html>

<head>
    <title>Music Genre Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
    <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.22.0/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.2.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
<h1>EE474 Term Project</h1>
<div class="agile-its" style="background:#fff; width: 70%; height: 62%; margin: auto;">
    <h2>Music Genre Transfer</h2>
    <form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: row;">
            <div style="overflow: auto; display: flex; flex-direction: column; background-color: #DAE7E4; flex-basis: 40%; flex-shrink: 1; margin-left: 20px; margin-right: auto;">
                <midi-visualizer type="piano-roll" id="inputVisualizer"></midi-visualizer>
                <midi-player style="margin-left: 10px; margin-top: 10px;" id="input_midi" sound-font visualizer="#inputVisualizer">
                </midi-player>
                <input style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;" type="file" value="Upload" name="midi_in"  onchange="loadFile(event)">
                <script>
                    var loadFile = function(event) {
                        var output = document.getElementById('input_midi');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function() {
                            URL.revokeObjectURL(output.src) // free memory
                        }
                    };
                </script>
            </div>
            <div style="background: #fff; flex-basis: 10%; flex-shirnk: 1; margin: 0 auto; display: flex; flex-direction: row; align-items: center">
                <img src="{{ url_for('static', filename= 'arrow.png') }}" alt="arrow" style="max-width: 100%;" onclick="SubmitForm(event)">
                <script>
                    var SubmitForm = function(event) {
                        document.getElementById("upload").submit();
                    };
                </script>
            </div>
            <div style="overflow: auto; display: flex; flex-direction: column; background: #DAE7E4; flex-basis: 40%; margin-left: auto; margin-right: 20px;">
                {% if status %}
                    <midi-visualizer type="piano-roll" id="outputVisualizer"></midi-visualizer>
                    <midi-player src="{{ url_for('static', filename= 'output/transfer.mid') }}" sound-font visualizer="#outputVisualizer">
                    </midi-player>
                    <p>{{text}}</p>
                {% endif %}
            </div>
        </div>
    </form>

</div>
</body>

</html>

